doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    <nav> 
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new_video.html">Add new video</a></li>
        <li><a href="/list_videos.html">video list</a></li>
      </ul> 
    </nav>
    block content
